<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Sonar Poller {{version}}</h1>
                <hr class="my-4">
                <p>
                    Welcome to the Sonar poller! This poller only functions with Sonar v2. If you need the legacy poller which is compatible with Sonar v1, you can download it <a href="https://github.com/SonarSoftwareInc/poller-v1">here</a>.
                </p>
                <p>
                    This poller delivers monitoring data from your network to your Sonar instance. Most configuration is performed inside Sonar, but please check out the settings and credentials pages while you're here.
                </p>
                <p>
                    Please don't hesitate to <a href="https://sonar.software/contact">contact us for support</a> if you need any assistance!
                </p>
                <a class="btn btn-primary btn-lg" href="https://docs.sonar.expert/monitoring/pollers-general-overview-deployment-strategy-build-out-setup" role="button">Learn more</a>
            </div>
        </div>
    </div>
</div>
