{% extends "plain.html" %}
{% block content %}
<div class="container  container--example">
    <div class="row">
        <div class="col-12">
            <form class="form form-signin text-center">
                <div class="form__header">
                    <div class="sonar--branding  d-flex justify-content-center align-items-center">
                        <img class="sonar--logo" src="assets/brand/george.png">
                        <h2 class="sonar--logo--text">sonar</h2>
                    </div>
                </div>

                <div class="form__body">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <div class="form-group col-12">
                        <label for="sonarUrl" class="sr-only">Sonar Instance URL</label>
                        <input type="text" id="sonarUrl" class="form-control" placeholder="https://example.sonar.software" required><!-- autofocus -->
                    </div>
                    <div class="form-group col-12">
                        <label for="inputEmail" class="sr-only">Username</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-group col-12">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    </div>
                </div>

                <div class="form__footer">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
