<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Sonar Poller</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Sonar Dark Night Theme CSS -->
    <link href="assets/css/sonar-darkrye.css" rel="stylesheet">
</head>
<body class="sonar-darkrye mt-5">

<div class="section section--header">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="sonar--branding  d-flex align-items-center">
                    <img class="sonar--logo" src="assets/brand/george.png">
                    <h1 class="sonar--logo--text">sonar
                        <span class="badge">Poller</span>
                    </h1>
                </div>
            </div>
            <div class="col-2">
                <a href="/logout" class="btn btn-light">Log Out</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tabs.home is same as('true') %} active {% endif %}" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="{{ tabs.home }}">Home</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tabs.settings is same as('true') %} active {% endif %}" id="pills-settings-tab" data-toggle="pill" href="#pills-settings" role="tab" aria-controls="pills-settings" aria-selected="{{ tabs.settings }}">Settings</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tabs.devicecreds is same as('true') %} active {% endif %}" id="pills-devicecreds-tab" data-toggle="pill" href="#pills-devicecreds" role="tab" aria-controls="pills-devicecreds" aria-selected="{{ tabs.devicecreds }}">Device Credentials</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tabs.logs is same as('true') %} active {% endif %}" id="pills-logs-tab" data-toggle="pill" href="#pills-logs" role="tab" aria-controls="pills-logs" aria-selected="{{ tabs.logs }}">Logs</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade {% if tabs.home is same as('true') %} show active {% endif %}" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    {{ include('dashboard.html') }}
                </div>
                <div class="tab-pane fade {% if tabs.settings is same as('true') %} show active {% endif %}" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
                    {{ include('settings.html') }}
                </div>
                <div class="tab-pane fade {% if tabs.devicecreds is same as('true') %} show active {% endif %}" id="pills-devicecreds" role="tabpanel" aria-labelledby="pills-devicecreds-tab">
                    {{ include('devicecreds.html') }}
                </div>
                <div class="tab-pane fade {% if tabs.logs is same as('true') %} show active {% endif %}" id="pills-logs" role="tabpanel" aria-labelledby="pills-logs-tab">
                    {{ include('logs.html') }}
                </div>
            </div>

        </div>
    </div>
</div>
<!-- JS, Popper.js, and jQuery -->
<script src="assets/js/jquery-3.5.1.slim.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/custom.js"></script>
