<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Sonar Poller</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Sonar Dark Night Theme CSS -->
    <link href="assets/css/sonar-darkrye.css" rel="stylesheet">

    <!-- Doc Page CSS -->
    <link href="assets/css/doc.css" rel="stylesheet">
</head>
<body class="sonar-darkrye">
<div class="container">
    <div>
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
