<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="form form-standard" action="/settings" method="POST">
                <div class="form__body">
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="sonarUrl">Sonar Instance URL</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">https://</div>
                                </div>
                                <input type="text" id="sonarUrl" name="sonarUrl" class="form-control {% if validation_errors.settings.sonarUrl %} is-invalid {% endif %}" placeholder="yourinstance" required value="{{ form_values.settings.sonarUrl }}"><!-- autofocus -->
                                <div class="input-group-append">
                                    <div class="input-group-text">.sonar.software</div>
                                </div>
                            </div>
                            {% if validation_errors.settings.sonarUrl %}
                            <div class="invalid-feedback">
                                {{ validation_errors.settings.sonarUrl }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="apiKey">Poller API Key</label>
                            <input type="text" class="form-control {% if validation_errors.settings.apiKey %} is-invalid {% endif %}" id="apiKey" value="{{ form_values.settings.apiKey }}" name="apiKey" required>
                            {% if validation_errors.settings.apiKey %}
                            <div class="invalid-feedback">
                                {{ validation_errors.settings.apiKey }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-8 mb-3">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input {% if validation_errors.settings.logExceptions %} is-invalid {% endif %}" type="checkbox" value="1" name="logExceptions" id="logExceptions" aria-describedby="logExceptionsFeedback" {% if form_values.settings.logExceptions %} checked {% endif %}>
                                <label class="form-check-label" for="logExceptions">
                                    Log all errors
                                </label>
                                <small id="logExceptionsFeedback" class="form-text text-muted">
                                    Enabling this option will log all errors generated by the poller. This should only be used for troubleshooting as it will reduce performance while enabled.
                                </small>
                                {% if validation_errors.settings.logExceptions %}
                                <div class="invalid-feedback">
                                    {{ validation_errors.settings.logExceptions }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form__footer">
                    <div class="row">
                        <div class="col-12 text-right">
                            <button class="btn btn-primary btn--submit" type="submit">Update</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
